body{
    margin: 0px;
    margin-right: 10px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
.button{
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.black{
    background-color: black;
    color: white;
}

.blue{
    background-color: rgb(80, 114, 177);
    color: white;
}

.nav-ul {
    overflow: hidden;
    height: 75px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgb(0, 0, 0);
}
.logo{
    padding-right: 20px;
    padding-top: 23px;
    float: left;
}

.nav-li {
    height: 100px;
    float: left;
}
  
.nav-li-a {
    display: block;
    color: rgb(194, 194, 194);
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

.nav-li-a:hover:not(.active) {
    background-color: rgb(29, 29, 29);
    color: rgb(224, 224, 224);
}

.footer{
    background-color: rgb(75, 75, 75);
    height: 300px;
}