.display-container{
    padding-left: 400px;
    padding-right: 500px;
}
#broll{
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}
.showcase-container{
    overflow: hidden;
    text-align: center;
    height: 433px;
}
.showcase-overlay{
    position: relative;
    padding-top:160px;
}
.showcase-tagline{
    font-weight:bold;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.showcase-button-container{
    padding-top: 40px;
}
.content-container{
    display: flex;
    justify-content: center;
    height: 700px;
    margin-right: -10px;
    padding-right: 900px;
    background-color: rgb(245, 245, 245);
}
.grid-group{
    padding-top: 20px;
    padding-bottom: 100px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    width: 103px;
    height: 103px;
    padding-top: 10px;
}
.grid-title{
    font-size: 25px;
}
.grid-item {
    border-radius: 4px;
    background-color: rgb(80, 80, 80);
    height: 200px;
    width: 240px;
    transition: background-color 0.3s ease-out 100ms;
}

.grid-item:hover{

    background-color: rgb(187, 187, 187);
}

.img{
    height: 100px;
    width: 100px;
    position: relative;
    left: 75px;
    top: 45px;
}